{% extends 'main.html' %}
{% load widget_tweaks %}
{% block content %}

<div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-info">
      <div class="card-header">
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-toggle="collapse" data-target="#main_form" aria-expanded="false" aria-controls="main_form">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        <h3 class="text-center">زیادکردنی ناوی گروپی کاڵا</h3>

      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form id="main_form" role="form" method="POST">{% csrf_token %}
        <div class="card-body">
            <div class="form-group row">
                <label for="id_product_group" class="col-sm-2 control-label">ناوی گروپی کاڵا</label>
                <div class="col-sm-10">
                  {{form.product_group | add_class:'form-control' }}
                  <p id="main_error" class="alert alert-danger" aria-disabled="true" hidden></p>
                </div>
              </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-success">زیادکردن</button>
          </div>
      </form>
      
    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="text-center">زانیاریە تۆمار کراوەکان</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive">
        <table id="maingroupid" class="table table-bordered table-striped text-center">
        <thead>              
          <tr>
            <th>#</th>
            <th>ئەدمین</th>
            <th>ناوی گروپی کاڵا</th>
            <th>بەروار</th>
            <th>کردارەکان</th>
          </tr>
          </thead>
          <tbody>
        {% for i in lists %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.admin}}</td>
            <td>{{i.product_group}}</td>
            <td>{{i.date | date:'d-m-Y h:i A'}}</td>
            <td>
                <a href="{% url 'products:update_productgroup' i.id %}"><button><i class="far fa-edit"></i></button></a>
            </td>

        </tr>
          {% endfor %}

          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  
{% block script %}

    <script>
        $(document).ready(function() {
            $('#maingroupid').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy','excel','pdf','print','colvis'
                ]
            } );
        } );

        {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == 'success' %}
                alertify.success("{{msg}}")
            {% else %}
                alertify.error("{{msg}}")          
            {% endif %}
        {% endfor %}
    {% endif %}


    </script>
    
{% endblock %}
{% endblock %}

<!-- $.ajax({        
    url:'{% url 'products:list-maingroup' %}',
    type:'json',
    method:'GET',
    success:function(data){
    // $('#notify').html(data.length)
    let content='';
    for(i = 0;i < data.length; i++){

        content+='<tr>'
            +'<td>'+data[i]+'</td>'
            +'<td>'+data[i]["fields"]["admin"]+ ' : ' + check_out+ ' بۆ '+ check_in+'</td>'
            +'<td>'+data[i]["fields"]["main_type"]+ ' : ' + check_out+ ' بۆ '+ check_in+'</td>'
            +'<td>'+data[i]["fields"]["date"]+ ' : ' + check_out+ ' بۆ '+ check_in+'</td>'

            +'</div>'
    
    $(".allnotifi").html(content);
}
}}); -->